@import "src/styles/colors";

.grid-container {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 15px;
  box-sizing: border-box;
}

.flex-column {
  width: 100%;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
  padding-right: 15px;
}

.header {
  align-self: flex-end;
  box-sizing: border-box;
}

.info {
  box-sizing: border-box;
}

@media only screen and (max-width: 1170px) {
  .grid-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    box-sizing: border-box;
    padding-right: unset;
  }

  .flex-column {
    gap: 10px;
  }
}
