<p class="description">
  Wie jedes Jahr stehen nur begrenzte Startplätze zur Verfügung! Über Instagram und Facebook erfahrt
  ihr, ab wann ihr euch anmelden könnt und auch sonst findet ihr dort alle wichtigen Infos!
  Für alle motivierten Kampftrinker, die es gar nicht mehr erwarten können, haben wir einen optimalen
  Trainingsplan zusammengestellt:
</p>

<app-exercise-plan/>

<p class="description">Für Fragen stehen wir euch gerne unter <a href="mailto:bierrallye.irnfritz@gmail.com">bierrallye.irnfritz@gmail.com</a>
  zur Verfügung</p>
