<div class="container">
  <gpx-dynamic-table [columnSpecs]="columnSpecs"
                     [columnsExcludedFromSort]="['drink1', 'drink2', 'startblock', 'apply']"
                     [data]="registrations"
                     [pageSizeOptions]="[15, 30, 50, 100]">

    <ng-template [gpxCustomColumn]="'active'" let-registration>
      <ng-container *ngIf="registration.active">
        <mat-icon class="green">check_circle</mat-icon>
      </ng-container>
      <ng-container *ngIf="!registration.active">
        <mat-icon class="red">cancel</mat-icon>
      </ng-container>
    </ng-template>

    <ng-template [gpxCustomColumn]="'hasTeam'" let-registration>
      <ng-container *ngIf="registration.hasTeam">
        <mat-icon class="green">check_circle</mat-icon>
      </ng-container>
      <ng-container *ngIf="!registration.hasTeam">
        <mat-icon class="red">cancel</mat-icon>
      </ng-container>
    </ng-template>

    <ng-template [gpxCustomColumn]="'drink1'" let-registration>
      {{registration.drink1.name}}
    </ng-template>

    <ng-template [gpxCustomColumn]="'drink2'" let-registration>
      {{registration.drink2.name}}
    </ng-template>

    <ng-template [gpxCustomColumn]="'startblock'" let-registration>
      {{registration.startblock.name}}
    </ng-template>

    <ng-template [gpxCustomColumn]="'apply'" let-registration>
      <div class="action-container">
        <button (click)="openTeamDialog(registration)"
                [disabled]="!registration.active"
                mat-icon-button>
          <mat-icon>start</mat-icon>
        </button>
        <button (click)="checkOut(registration)"
                [disabled]="!registration.hasTeam"
                mat-icon-button>
          <mat-icon>sports_score</mat-icon>
        </button>
      </div>
    </ng-template>
  </gpx-dynamic-table>
</div>
