<div class="flex-container">
  <p class="header">Hardfacts</p>
  <div class="sub-container">
    <div class="step">
      <img src="../../../assets/icons/1.png" height="50" width="50"/>
      <span class="description">8 Stationen auf 5 Kilometer</span>
    </div>
    <div class="step">
      <img src="../../../assets/icons/2.png" height="50" width="50"/>
      <span class="description">2 Personen pro Team</span>
    </div>
    <div class="step">
      <img src="../../../assets/icons/3.png" height="50" width="50"/>
      <span class="description">50 € Startgeld pro Team</span>
    </div>
    <div class="step">
      <img src="../../../assets/icons/4.png" height="50" width="50"/>
      <div class="two-row-description">
        <span class="description">verschiedenste, flüssige Wegbegleiter</span>
        <span class="sub-description">(pro Person 8 x Bier 0,33 L oder 1 L Wein + gewünschtes Beigetränk)</span>
      </div>
    </div>
    <div class="step">
      <img src="../../../assets/icons/5.png" height="50" width="50"/>
      <span class="description">Getränkegutscheine für Teams in Verkleidung</span>
    </div>
    <div class="step">
      <img src="../../../assets/icons/6.png" height="50" width="50"/>
      <span class="description">Aftershowparty (für alle, die noch können)</span>
    </div>
  </div>
</div>
