@import "colors";

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.two-row-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sub-description {
  font-size: 16px;
  line-height: normal;
}

@media only screen and (max-width: 1170px) {
  .sub-description {
    font-size: 7px;
  }

  img {
    height: 25px;
    width: 25px;
  }
}
