<form [formGroup]="loginForm">
  <div class="form-container">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input formControlName="username" id="username" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input type="password" formControlName="password" id="password" matInput>
    </mat-form-field>
    <button (click)="authenticate()"
            [disabled]="!loginForm.valid"
            color="primary"
            mat-raised-button
            type="submit">
      Login
    </button>
  </div>
</form>
