<div *ngIf="team" class="race-container">
  <h1>
    {{team.startblock}}
  </h1>

  <div class="player-container">
    <div class="player-info">
      {{team.teamFirstMember}}
    </div>
    <div class="player-info">
      {{team.teamSecondMember}}
    </div>
  </div>

  <div *ngIf="scannerOpenCheckin || scannerOpenCheckout" class="scanning-container">
    <div *ngIf="scannerOpenCheckin">
      <zxing-scanner (scanSuccess)="checkIn($event)" previewFitMode="cover"/>
    </div>
    <div *ngIf="scannerOpenCheckout">
      <zxing-scanner (scanSuccess)="checkOut($event)"/>
    </div>
    <button (click)="cancelScanning()"
            color="accent"
            mat-raised-button>
      Scan abbrechen
    </button>
  </div>

  <div *ngIf="!(scannerOpenCheckin || scannerOpenCheckout)" class="card">
    <div>
      <button (click)="openScannerCheckin()"
              *ngIf="!team.teamStartTime"
              color="green"
              mat-raised-button>
        START
      </button>
      <div *ngIf="team.teamStartTime" class="scan-info green">
        <h1>Startzeit</h1>
        <h1>{{team.teamStartTime}} Uhr</h1>
      </div>
    </div>
  </div>

  <div *ngIf="!(scannerOpenCheckin || scannerOpenCheckout)" class="card">
    <div>
      <button (click)="openScannerCheckout()"
              *ngIf="!team.teamEndTime"
              color="red"
              mat-raised-button>
        ZIEL
      </button>
    </div>
    <div *ngIf="team.teamEndTime" class="scan-info red">
      <h1>Zielzeit</h1>
      <h1>{{team.teamEndTime}} Uhr</h1>
    </div>
  </div>
</div>
