@import "src/styles/colors";

.race-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: $bierrallye-lightbrown;
  padding: 15px;
  box-sizing: border-box;
}

.player-container {
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.player-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  width: 125px;
  background-color: $bierrallye-gray;
  border-radius: 5px;
}

.scanning-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 415px;
  width: 325px;
}

.card {
  width: 325px;
  height: 200px;

  div, button, span {
    width: 100%;
    height: 100%;
  }
}

::ng-deep {
  zxing-scanner {
    /* Root component needs to have height: 100% */
    height: 100%;
    /* Optional : you probably want full-width as well for landscape orientation or tablets */
    width: 100%;

  }

  video {
    /* !important because component already sets height property */
    height: 365px !important;
  }
}

.scan-info {
  width: 325px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 5px;
}

.green {
  color: white;
  background-color: #007a53;
}

.red {
  color: white;
  background-color: #e30413;
}

.mat-mdc-raised-button.mat-green {
  color: white;
  background-color: #007a53;
}

.mat-mdc-raised-button.mat-red {
  color: white;
  background-color: #e30413;
}
