/* You can add global styles to this file, and also import other style files */
@import "src/styles/colors";

@font-face {
  font-family: Ultra;
  src: url(../assets/fonts/ultra/Ultra.ttf);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bierrallye-brown;
}
