<div class="plan-info">
  <p class="header">Trainingsplan</p>
  <p class="sub-header">FÜR EINE VORBEREITUNGSZEIT VON</p>
  <b class="sub-header">CA. 3 MONATEN</b>
</div>
<table class="plan-table">
  <tr>
    <td class="step-column">1</td>
    <td class="description-column">
      <div>
        <b class="month">März/April: Ausdauer & Koordination</b>
        <p>
          Versorgt eure Freunde im 5 km-Umkreis per Fußmarsch mit vollen Bier-/ oder Weinkisten.
          Helft ihnen anschließend dabei sie zu leeren und versucht selbstständig wieder nach Hause zu finden!
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="step-column">2</td>
    <td class="description-column">
      <div>
        <b class="month">April/Mai: Massephase</b>
        <p>
          Trinkt Massen an Bier und Spritzwein um euren Körper auch von innen optimal
          auf den Wettkampf vorzubereiten
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="step-column">3</td>
    <td class="description-column">
      <div>
        <b class="month">Mai/Juni: Abschlussvorbereitungen</b>
        <p>
          Plant euren Team-Auftritt und übt eure Siegesposen! Ein stabiles Mindset ist schon der halbe Gewinn.
        </p>
      </div>
    </td>
  </tr>
</table>
