<p class="header">Impressum</p>

<div class="content-container description">
  <div>
    <p>Junge ÖVP Irnfritz-Messern</p>
    <p>ZVR: 1954459214</p>
    <p>Zuständigkeit: Bezirkshauptmannschaft Horn</p>
  </div>
  <div>
    <p>Florianigasse 7</p>
    <p>3754 Irnfritz</p>
  </div>
  <div>
    <p>Obmann: Simon Hummel</p>
    <p>Obmann-Stv.: Matthäus Labner</p>
    <p>Schriftführerin: Bianca Isak</p>
    <p>Kassier: Elias Koptischek</p>
  </div>
  <div>
    <p>Die Junge ÖVP Irnfritz-Messern ist ein nach dem österreichischen Vereinsgesetz (VerG) im Zentralen
      Vereinsregister
      (ZVR) eingetragener Verein ohne kommerzielle Absichten.
    </p>
  </div>
  <div>
    <p>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und
      Offenlegungspflicht laut §25 Mediengesetz
    </p>
  </div>
</div>
