@import "src/styles/colors";

.grid-container {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 15px;
  box-sizing: border-box;
}

.black-box {
  grid-column: 1 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bierrallye-black;
  color: $bierrallye-lightbrown;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-sizing: border-box;
}

.flex-column {
  width: 100%;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
  padding-right: 15px;
}

.header {
  align-self: flex-end;
  box-sizing: border-box;
}

.info {
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .grid-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    box-sizing: border-box;
  }

  .flex-column {
    gap: 10px;
  }

  .black-box {
    gap: 10px;
  }
}
