<div class="grid-container">
  <div class="black-box">
    <p>Samstag, 1. Juli 2023</p>
    <p>ab 13 Uhr</p>
    <p>Sportplatz Irnfritz</p>
    <a href="#user-interaction" mat-raised-button>zur Anmeldung</a>
  </div>
  <div class="flex-column">
    <div class="header">
      <p>Bier-Rallye Vol. 5</p>
    </div>
    <div class="info">
      <p>
        Bereits zum 5. mal wagen wir uns gemeinsam mit euch auf die wohl flüssigste Rennstrecke
        im Waldviertel und darüber hinaus! Wie schon die Jahre zuvor werden die idyllischen Wälder rund um unsere
        wunderschöne Heimat zu einem Schauplatz voller Action, Spaß und unverantwortlichem Alkoholkonsum.
      </p>
    </div>
  </div>
</div>
