@import "src/styles/colors";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bierrallye-black;
  color: $bierrallye-lightbrown;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
}

.title {
  font-size: 48px;
  font-weight: bold;
  line-height: normal;
}

.info {
  font-size: 36px;
  line-height: normal;
}

@media only screen and (max-width: 1170px) {
  .container {
    gap: 5px;
  }

  .title {
    font-size: 24px;
  }

  .info {
    font-size: 18px;
  }
}
